#B-Body {
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom right, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.B-TopBTNS {
    width: 100%;
    height: 7.838745800671893vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vw;
}

.B-HOME{
    width: 20%;
}

.B-TopHead{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-B{
    font-size: 8vw;
    font-weight: bold;
}

.B-desc{
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
}

.B-Search{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.B-Heading{
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.B-Bottom{
    width: 100%;
    height: 60%;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}